@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* reset margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
    padding: 0;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans, sans-serif';
}




.app {
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}

.light-theme {
    background-image: url('images/bg-desktop-light.jpg');
    background-color: hsl(0, 0%, 98%)
}

.dark-theme {
    background-image: url('images/bg-desktop-dark.jpg');
    background-color: hsl(235, 21%, 11%)

}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.theme-toggle img {
    width: 30px;
    height: 30px;
}