@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* reset margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* make images easier to work with */
img,
picutre {
    max-width: 80%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: hsl(236, 9%, 61%) !important;
}

/* */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans, sans-serif';
    
}

.app {
    position: static;
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}

/* Theme */

.light-theme {
    background-color: hsl(0, 0%, 98%)
}

.dark-theme {
    background-color: hsl(235, 21%, 11%)

}

/* Mobile version (max-width: 45rem) */
@media (max-width: 45rem) {
    .light-theme {
        background-image: url('images/bg-mobile-light.jpg');
    }

    .dark-theme {
        background-image: url('images/bg-mobile-dark.jpg');
    }
}

/* Desktop version (min-width: 45rem) */
@media (min-width: 45rem) {
    .light-theme {
        background-image: url('images/bg-desktop-light.jpg');
    }

    .dark-theme {
        background-image: url('images/bg-desktop-dark.jpg');
    }

    .theme-toggle {
        position: absolute;
        right: 30vw !important;
    }

    .list-header {
        position: absolute;
        left: 30vw !important;
    }

    .task-title {
        font-size: 1.1vw !important;
    }

    .list-item {
        margin: auto 30vw !important;
    }

    .list-footer {
        margin: auto 30vw !important;
    }

    .counter {
        font-size: 1vw !important;
    }

    .clear-completed {
        font-size: 1vw !important;
    }
    
    .new-todo {
        width: 130% !important;
        font-size: 1.1vw !important;
    }

    .filter {
        font-size: 1vw !important;
        position: relative !important;
        top: -76.5vh;
        margin: auto 30vw !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }

}

.theme-toggle {
    position: absolute;
    top: 10vh;
    right: 8vw;
    background: none;
    border: none;
    cursor: pointer;
}

.theme-toggle img {
    width: auto;
    height: auto;
}




/* List Header */
.list-header {
    position: absolute;
    top: 10vh;
    left: 8vw;
    width: 30%;
    padding: 0;
    z-index: 1;
    color: white !important;
}

/* List Item */
.list-item {
    height: 6vh;
    margin: auto 8vw;
    padding: 5px;
    position: relative;
    bottom: 68vh;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: hsl(235, 19%, 35%)
}

.button-container, .info-container {
    display: flex;
    align-items: center;
}

.task-title {
    margin: 20px;
    font-size: 3vw;
}

.delete {
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tick {
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid hsl(233, 11%, 84%);
    background-color: transparent;
    cursor: pointer;
}

.tick.clicked {
    background: linear-gradient(to right,
            hsl(192, 100%, 67%),
            hsl(280, 87%, 65%));
}

.tick img {
    width: 10px;
    height: 10px;
}

.new-todo {
    width: 271%;
    height: 6vh;
    margin-top: 5vh;
    padding: 5px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.todo-input {
    margin-left: 50px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(235, 19%, 35%);
}

.create {
    position: relative;
    right: 85%;
}

.list-footer {
    height: 7vh;
    margin: auto 8vw;
    padding: 5px;
    position: relative;
    bottom: 68vh;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: hsl(236, 9%, 61%);
}

.counter {
    margin-left: 17px;
    font-size: 3vw;
}

.clear-completed {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    font-size: 3vw;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(236, 9%, 61%);
}

.filter {
        position: relative;
        bottom: 65vh;
        height: 7vh;
        margin: auto 8vw;
        padding: 5px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 3vw;
        font-family: 'Josefin Sans', sans-serif;
}

